.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav label {
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  transition: 0.3s;
  display: block;
}

.sidenav select {
    display: inline-block;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    color: #818181;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 5%;
}

.sidenav option {
  font-size: 16px;
  color: #818181;
}

.sidenav a:hover {
  color: #f1f1f1;
}
