body {
    background: #003700;
}

button {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

button:hover,
button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.flyout {
  position: fixed;
  height: 80%;
  width: 60%;
  background-color: #111111f2;
  z-index: 2;
  top: 10%;
  left: 20%;
  border: 1px solid white;
  color: white;
  overflow: auto;
  //display: grid;
  //justify-content: center;
  //align-items: center;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #818181;
  text-decoration: none;
}

.player_container {
  margin-left: 5%;
  margin-right: 15%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 4%;
  //width: fit-content;
}

.border {
    border: 1px solid white;
    border-radius: 5px;
}

.square_div {
    position: absolute;
    width: 5%;
    height: 5%;
    background: #a52a2aab;
    border-radius: 50%;
}

.square_div:hover {
    background: brown;
}

.pawn_img {
    position: absolute;
    width: 10%;
    transition-duration: 500ms;
}

.pawn_img:hover {
    opacity: 0.8;
}

.user_name_display {
  display: inline;
  font-weight: bold;
  margin-left: 6px;
}

#board_canvas {
  position: absolute;
  border-top: 1px solid brown;
  border-left: 1px solid brown;
  width: 87.5%;
  height: 87.5%;
  top: 6.25%;
  left: 6.25%;
}

#rotation_container {
    position: relative;
    width: 100px;
    height:100px;
    transform: translate(-50px, -50px);
}

#rotation_img {
    position: absolute;
    width: 80%;
}

#winner_icon {
    width: 120px;
}

#connection {
    position: fixed;
    background-color: #111111f2;
    z-index: 4;
    border: 1px solid white;
    color: white;
    overflow: auto;
    height: 96%;
    width: 98%;
    top: 2%;
    left: 1%;
    display: grid;
    justify-content: center;
    align-content: center;
}

#curves_container {
    display: block;
    position: relative;
    height: 90%;
    width: 100%;
    resize: both;
}