
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  min-width: 500px;
  margin-top: 6px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: #353535;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  margin-bottom: 12px;
}

.tabcontent label {
    margin-top: 6px;
    margin-bottom: 3px;
}

.tabcontent input {
    padding: 5px;
    margin-left: 16px;
    margin-bottom: 3px;
    max-width: 70%;
}

.tabcontent select {
    padding: 5px;
    margin-left: 16px;
    margin-bottom: 3px;
    width: fit-content;
}

.fieldcontainer {
    margin: 3px;
    display: grid;
}

.instance_item {
    border: 1px solid;
    padding-top: 6px;
    padding-bottom: 6px;
}

#debug_mode_field:checked ~ .fieldcontainer {
    display: none;
}

#instances_list {
    height: 30vh;
    background: #ffffff75;
    overflow: auto;
    margin-bottom: 6px;
    margin-top: 3px;
}